/**fifth-index
**/
.BeforeBuy{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.BeforeBuy_Seller{
    width: 180px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: right;
    
}



.BeforeBuy_Seller_Name{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
}

.BeforeBuy_Seller_Location{
    font-size: 18px;
    color: darkgray;
}

.BeforeBuy_Comment{
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    font-size: 30px;
    opacity: 0.8;
    font-weight: 300;
    padding-left: 50px;
}
