.CarShop{
    height: 1081px;
    min-width: 1450px;
    background: url(../image/bg_1.2_1.jpg) no-repeat;
    background-size: 100% auto;
    color: white;
    display: flex;
    justify-content: center;
}


.CarShop_Content{
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.CarShop_Cluster{
    padding: 60px 0 230px 0;
}

.CarShop_Block{
    height: 150px;
    width: 350px;
    float: left;
    padding: 0px 25px 25px 0px;
}

.Carshop_Block_Detail{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.7;
    width: 300px;
    letter-spacing: 1px;
    font-weight: 100;
}


.CarShop_Block_Img{
    height: 120px;
    width: 3px;
    float: left;
    background: url(../icons/line.png) no-repeat;
    background-size: auto 100%;
    margin-right: 30px;
    filter: blur(0.9px);
}



.CarShop_Block_Title{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    opacity: 0.9;
}



.CarShop>img{
    width: 100%;
    max-height: 700px;
}


