/** block CarBrowser **/
.CarBrowser {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
}

.CarBlock {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  width: 280px;
  height: 260px;
  margin: 10px 10px 10px 0px;
  background-color: white;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 5px;
  -webkit-animation: valo-animate-in-fade 600ms;
  -moz-animation: valo-animate-in-fade 600ms;
  animation: valo-animate-in-fade 600ms;
}

.CarBlock_Img {
  width: 280px;
  height: 200px;
  cursor: pointer;
}

.CarBlock_Desc {
  width: 100%;
  color: black;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}

.CarBlock_Desc_Caption {
  font-family: 'Roboto', san-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 65%;
  margin-left: 5%;
  padding-bottom: 7px;
  font-weight: bolder;
  font-size: 15px;
}

.CarBlock_Desc_Price {
  font-family: 'Roboto', sans-serif;
  text-align: right;
  width: 25%;
  color: #e7211e;
  padding-right: 5%;
  padding-bottom: 7px;
  font-size: 17px;
  opacity: 0.8;
}

.CarBlock_Desc_Favorite {
  width: 6%;
  height: 16px;
  margin-left: 5%;
  background: url(../icons/heart_empty.png) no-repeat;
  background-size: auto 16px;
}

.CarBlock_Desc_Favorite-selected {
  background: url(../icons/heart_full.png) no-repeat;
  background-size: auto 16px;
}

.CarBlock_Desc_Mileage {
  font-family: 'Roboto', sans-serif;
  width: 35%;
  color: rgba(0, 0, 0, 0.5);
}

.CarBlock_Desc_Ship {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  width: 45%;
  padding-right: 5%;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
  font-size: 13px;
}