/** block FinanceOption **/
.FinanceOption
{
  min-width: 700px;
}

.FinanceOption_Header
{
  height: 80px;
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  padding:20 0 30 0  ;
}

.FinanceOption_Line
{
  height: 1px;
  width: 100%;
  background: #747474;
}


.FinanceOption_Row
{
  padding:5% 0;
  font-size: 20px;
}


.FinanceOption_Input
{
  height: 70px;
  
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.FinanceOption_Input_Caption
{
  width: 10%;
  height: 100%;
  font-size: 30px;
  color: #ffffff;
  background: #11c759;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.FinanceOption_Input_Field
{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 32px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/** block ButtonGroup **/
.ButtonGroup
{
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.ButtonGroup_Button
{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.ButtonGroup_Button:hover
{
  cursor: pointer;
}

.ButtonGroup_Button-selected
{
  color: #ffffff;
  background-color: #11c759;
}


.green{
  background: green;
}
.ButtonGroup_Button_Caption
{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.ButtonGroup_Button_Content
{}
