.FlexibleFinance{
    color: white;
    height: 1081px;
    min-width: 1450px;
    background: url(../image/bg_1.2_4.jpg) no-repeat ;
    background-size:100% auto;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}




.FlexibleFinance_Content{
    width: 900px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.FlexibleFinance_Header_Detail{
    font-size: 14px;

}

.FlexibleFinance_Img{
    width: 900px;
    height: 400px;
    background:url(../icons/financing_chart.png) no-repeat;
    background-size: 100% auto; 
    margin:100px 0 150px 0;
}


.FlexibleFinance_List{
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    width: 100%;
}

.FlexibleFinance_List_Img{
    width: 20px;
    height: 10px;
    background: url(../icons/see_car_btn.png) no-repeat center;
    background-size: 15px 3px;
    opacity: 0.5;
    border-radius: 3px;
    margin: 0 20px 0 0;
    filter: blur(0.6px);
}

.FlexibleFinance_List_Detail{
    
    letter-spacing: 2px;
}


