/**Sidebar_Plus
**/

.PlusList{
    padding-top: 40px;
}

.PlusList_Row{
    height: 25px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    font-size: 20px;
}

.PlusList_Row_Word{
    font-family: 'Lato', sans-serif;
    width: 60%;
    font-size: 18px;
}

.PlusList_Row_Img{
    width: 20%;
    height: 100%;
    background: url(../icons/plus.png) no-repeat center;
    background-size: auto 55%;
    cursor: pointer;
    filter: blur(0.4px);
}
